/*______________________________________sezione generale___________________________________________________________*/

body {
    font-family: 'Lato', sans-serif !important;
    font-weight: 400 !important;
    height: 100vh;
    overflow: hidden;
}


/*_________________________________sezione banner superiore (stato della sala)_____________________________________*/

.img-header {
    max-height: 90px;
}

.descr-occupata {
    font-size: 40px;
    color: white;
    text-align: center;
}
.descr-libera{
    font-size: 40px;
    color: white;
    text-align: center;
}

#ora {
    font-size: 70px;
    color: white;
    margin-top: 1.5%;
}

.banner-height {
    height: 17vh;
}


/*______________________evento in corso rosso____________________________________*/

.color-change-red {
    -webkit-animation: color-change-red 3s linear infinite alternate both;
    animation: color-change-red 3s linear infinite alternate both;
}

.color-change-green {
    background-color: rgb(76, 175, 80);
}


/* .color-change-orange {
    background-color: #ee7421;
} */

@-webkit-keyframes color-change-red {
    0% {
        background: #dd2929;
    }
    25% {
        background: #bd2626;
    }
    50% {
        background: #e75050;
    }
    75% {
        background: #c22121;
    }
    100% {
        background: #e75050;
    }
}

@keyframes color-change-red {
    0% {
        background: #dd2929;
    }
    25% {
        background: #bd2626;
    }
    50% {
        background: #ea2222;
    }
    75% {
        background: #c22121;
    }
    100% {
        background: #e75050;
    }
}


/*_______________________sala libera verde___________________________________
            da implementare in modo dinamico */


/*.color-change-green {
    -webkit-animation: color-change-green 4s linear infinite alternate both;
    animation: color-change-green 4s linear infinite alternate both;
}*/

@-webkit-keyframes color-change-green {
    0% {
        background: #44e76d;
    }
    25% {
        background: #19a543;
    }
    50% {
        background: #44e76d;
    }
    75% {
        background: #19a543;
    }
    100% {
        background: #33cf5a;
    }
}

@keyframes color-change-green {
    0% {
        background: #44e76d;
    }
    25% {
        background: #19a543;
    }
    50% {
        background: #44e76d;
    }
    75% {
        background: #19a543;
    }
    100% {
        background: #33cf5a;
    }
}


/*_______________________evento tra 15 minuti giallo___________________________________
            da implementare in modo dinamico 
            deve comparire 15 minuti prima dell'appuntamento, ma se ci sono eventi in corso non
            deve essere mostrato*/

.color-change-orange {
    -webkit-animation: color-change-orange 4s linear infinite alternate both;
    animation: color-change-orange 4s linear infinite alternate both;
}

@-webkit-keyframes color-change-orange {
    0% {
        background: rgb(255, 185, 55);
    }
    25% {
        background: #ee7421;
    }
    50% {
        background: rgb(255, 185, 55);
    }
    75% {
        background: #ee7421;
    }
    100% {
        background: #ff9249;
    }
}

@keyframes color-change-orange {
    0% {
        background: rgb(255, 185, 55);
    }
    25% {
        background: #ee7421;
    }
    50% {
        background: rgb(255, 185, 55);
    }
    75% {
        background: #ee7421;
    }
    100% {
        background: #ff9249;
    }
}


/*_____________________________________sezione eventi (di oggi e della settimana)____________________________________*/

.middle {
    height: 70vh;
}


/*_____________________________________sezione eventi oggi (col-3)____________________________________________________*/

.oggi {
    background-color: rgb(218, 218, 218);
}

#ora-oggi {
    text-align: right;
    border-right: 1px solid white;
    background-color: #ff8d3e;
    color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.evento-oggi {
    margin-right: 15px !important;
    margin-left: 15px !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #ff8d3e;
    margin-top: 15px;
    letter-spacing: 0.3px;
}

.titolo {
    background-color: #3a3a3b;
    height: 6vh;
    font-size: 21px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.titolo-libera{
}
#oggi-titolo {
    font-weight: bold;
    font-size: 16px;
}


/*_____________________________________sezione eventi della settimana (col-9)___________________________________________*/

#titolo2 {
    color: #3a3a3b;
    background-color: rgb(218, 218, 218);
}

.blocco-settimana {
    background-color: #f6f7f8;
    height: 32vh;
    border-right: 0.5px solid rgb(218, 218, 218);
    border-top: 0.5px solid rgb(218, 218, 218);
}

#giorno-settimana {
    line-height: 4vh;
    text-align: right;
    height: 4vh;
    font-size: 18px;
}

.evento-settimana {
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
}

.bordino {
    border-right: 0.5px solid white;
    padding-right: 15px;
    text-align: center;
    background-color: #3a3a3b;
    border-radius: 5px;
    margin-left: 15px;
    color: white;
}
.libera{
    line-height: 17vh
}


/*____________________________________barra benvenuto + informazioni meteo_______________________________________________*/

.barra-info {
    height: 13vh;
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 0.75%;
    background-color: #3a3a3b;
}

.line-1 {
    margin-top: 1.3%;
  
}

.meteo {
    margin-top: 1%;
    padding-right: 30%;
    padding-left: 30%;
}

.weather {
    height: 150px;
    margin: -35px;
}

.gradi {
    font-size: 40px;
    color: white;
    padding-top: 1vh;
    margin-top: 1.5%;
    margin-left: 10px;
}
/* ______________________________________________________________________________________________ */

.legenda {
    font-size: 18px;
    text-align: right;
    padding-top: 5%;
    padding-right: 135px;
}

#salaRiunioni{
    color:#ff9249;
}

#salettaRiunioni{
    color:#22ade4; 
}

/* ______________________________________________________________________________________________ */